header{
    background-color: rgb(102, 19, 19);
    border: solid 5px;
    border-color: black;
    border-left: none;
    border-right: none;
    font-family: 'DotGothic16', sans-serif;
}
.logo{
    text-decoration: none;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    margin-left: 20px;
    -webkit-text-stroke: 0.1px black;
}
.sub_logo{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    -webkit-text-stroke: 0.1px black;
}
.nav_list{
    text-align: right;
}

header nav .nav_button{
    list-style: none;
    color: #fff;
    display: inline;
    padding: 0 10px;
    font-size: 20px;
}

header nav .nav_button a{
    color: #fff;
    text-decoration: none;
}